@use "base";
@use "reset";
@use "classes";
@use "utils";
@use "variable";
@use "animation";
@import "media-query";
.grid_container {
  display: grid;
  grid:
    "picture header" auto
    "aside main" 1fr
    "footer footer" auto
    / 350px auto;
  min-height: 100vh;

  @include xs {
    display: grid;
    grid:
      "header" auto
      "main" auto
      "picture" auto
      "aside" auto
      "footer" auto
      / 100%;
  }
}

header {
  grid-area: header;
  background: linear-gradient(to right, var(--primary), var(--light));
  padding: 8rem 5rem;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include xs {
    padding: 5rem 3rem;
  }
  .span {
    display: inline-block;

    animation: bounce 2s;
  }
  h1 {
    font-size: 6rem;
    line-height: 8rem;
    font-weight: 300;
    letter-spacing: 3rem;
    @include xs {
      font-size: 3rem;
      letter-spacing: 2rem;
      margin: 1rem;
    }
  }
  p {
    letter-spacing: 0.5rem;
  }
}
.picture {
  grid-area: picture;
  padding: 6rem;
  border-right: 1px solid var(--border);
  img {
    border-radius: 100%;
  }
  background: var(--background);
}
aside {
  grid-area: aside;
  padding: 5rem;
  background: var(--background);
  border-right: 1px solid var(--border);

  .block {
    margin-bottom: 5rem;

    h3 {
      margin-bottom: 0;
      font-size: 1.4rem;
    }
    p {
      margin: 0 0 2rem 0;
      font-style: italic;
    }
    .bar-skill {
      margin: 2rem 0;
      height: 5px;
      background: var(--hint);
      position: relative;
      .bar-skill-progress {
        position: absolute;
        height: 5px;
        top: 0;
        left: 0;
        width: 80%;
        background: var(--light);
      }
      .bar-skill-dot {
        position: absolute;
        height: 10px;
        width: 10px;
        background: var(--dark);
        left: calc(80% - 5px);
        top: -2.5px;
        transform: rotate(45deg);
      }
    }
    .stars-container {
      display: flex;
      margin: 2rem 0 3rem 0;
      color: var(--hint);
      i {
        font-size: 2rem;
        margin: 0 1rem;
      }
    }
    .social-container {
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 2rem;
      border-radius: 5px;
      transition: all 0.2s;
      &:hover {
        background: var(--border);
        i {
          color: var(--primary);
          transform: scale(1.3);
          transition: all 0.2s;
        }
      }
      i {
        font-size: 2rem;
        flex: 0 0 50px;
        margin-right: 1rem;
      }
      p {
        flex: auto;
        margin: 0;
      }
    }
  }
}

main {
  grid-area: main;
  padding: 5rem;
  @include xs {
    padding: 5rem 4rem;
  }
  h2 {
    margin-bottom: 4rem;
  }
  p {
    letter-spacing: 0.1rem;
    line-height: 3rem;
  }
}

.experience {
  display: flex;
  margin: 6rem 0;
  .timeline {
    text-align: center;
    color: var(--hint);
    padding-right: 2rem;
    border-right: 1px solid var(--border);
  }
  .content {
    padding: 0 1rem;
    h2 {
      margin: 0;
    }
    p {
      margin: 0;
    }
    ul {
      list-style: circle;
      padding-left: 4rem;
      margin: 2rem 0;
    }
  }
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 5rem;
  width: 100vw;
  @include xs {
    padding: 5rem 1.5rem;
  }
  background: var(--text);
  h2 {
    margin-bottom: 3rem;
  }
  form {
    display: flex;
    align-items: center;
    .prefix {
      background: linear-gradient(to right, var(--dark), var(--light));
      padding: 1rem 2rem;
      color: white;
      font-size: 2rem;
      border-top-left-radius: 20%;
      border-bottom-left-radius: 20%;
    }
    input {
      outline: 0;
      border: 0;
      min-width: 400px;
      @include xs {
        min-width: 200px;
      }
      padding: 1rem 2rem;
      line-height: 2rem;
      &::placeholder {
        color: var(--text);
      }
    }
    button {
      background: var(--text);
      border: 0;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        opacity: 0.8;
      }
      .postfix {
        background: linear-gradient(to right, var(--dark), var(--light));
        padding: 1rem 2rem;
        color: white;
        font-size: 2rem;
        border-top-right-radius: 20%;
        border-bottom-right-radius: 20%;
      }
    }
  }
}

.certificat {
  display: grid;
  grid:
    "arrow lien lien" 1fr
    ". img ." auto
    ". . ." 1fr
    / 1fr auto 1fr;
  min-height: 100vh;
  background: var(--primary);
  @include xs {
    grid:
      "arrow" auto
      "lien" auto
      "img" 500px
      / auto;
  }
}
.certificat img {
  grid-area: img;
  height: 950px;
  @include xs {
    // rotate: 90deg;
    height: 300px;
  }
}
.certificat a .fleche {
  grid-area: arrow;
  margin: 2rem;
  margin-left: 10rem;
  padding: 2rem;
  background: var(--light);
  border: 1px solid black;
  border-radius: 100%;
  width: 150px;
  text-align: center;
  transition: all 0.3s;
  @include xs {
    margin: 2rem;
  }
  &:hover {
    background: var(--hint);
  }
}
.certificat .lien {
  grid-area: lien;
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
}
